:root{
    --iconColor: linear-gradient(180deg, #1f9ce4 0%, #625ad8 40%, #7339ab 100%);
}
#homepage{
    /*background: linear-gradient(180deg, rgba(228, 186, 147, 0.56) 0%, rgba(216, 100, 84, 0.56) 40%, rgba(171, 0, 136, 0.56) 100%),*/
                /*url("../resources/background_images/dawn.jpg") no-repeat center center fixed;*/
    background: #141629;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    margin: 0;
}
.dot_h{
    height: 200px;
    width: 200px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 7px solid white;
}
.iconImages_h{
    /*opacity: 0.45;*/
    height: 80%;
    width: 80%;
    margin: 15px;
}
#sleepIcon{
    background: var(--iconColor);
}
.sleepIconImg{
    background: url("../resources/icons/sleep_icon_white.png") no-repeat center center;
    background-size: contain;
}
#logIcon_h{
    background: var(--iconColor);
    transform: rotate(-72deg);
}
.logIconImg_h{
    background: url("../resources/icons/exercise_icon_white.png") no-repeat center center;
    background-size: contain;
}
#mindIcon_h{
    background: var(--iconColor);
    transform: rotate(-144deg);
}
.mindIconImg_h{
    background: url("../resources/icons/mind_icon_white.png") no-repeat center center;
    background-size: contain;
}
#perIcon{
    background: var(--iconColor);
    transform: rotate(-216deg);
}
.perIconImg{
    background: url("../resources/icons/person_white.png") no-repeat center center;
    background-size: contain;
}
#bedIcon{
    background: var(--iconColor);
    transform: rotate(-288deg);
}
.bedIconImg{
    background: url("../resources/icons/bedtime_icon_white.png") no-repeat center center;
    background-size: contain;
}
#homepage .col-lg-6{
    overflow: hidden;
}
.circle {
    border-radius: 50%;
    list-style: none;
}
.circle li {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 40%;
    height: 40%;
    transform-origin: 0% 100%;
}
.circle li:nth-child(1) {
    transform: rotate(0deg);
}
.circle li:nth-child(2) {
    transform: rotate(72deg);
}
.circle li:nth-child(3) {
    transform: rotate(144deg);
}
.circle li:nth-child(4) {
    transform: rotate(216deg);
}
.circle li:nth-child(5) {
    transform: rotate(288deg);
}

#dailyInfo{
    height: 75%;
    width: 75%;
    background: var(--iconColor);
    border-radius: 15%;
    border: 7px solid white;
}