/* Limit the width of the menu */

html, body {
    height: 100%
}

.itsBedtime {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.time{
    padding-top: 100px;
}

.width80 {
    padding-top: 9px;
}
.inner, .inner-report {
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 75px 75px 40px;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    height: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.blueHeader {
    color: #337ab7;
}

.blueHeaderMobile {
    color: #337ab7;
    padding-top: 30px;
}

.marquee {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.h1:hover {
    animation-play-state: paused;
}
.marquee h1 {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.timeHeader {
    color: #625ad8;
}

.checkbox {
    height: 38px;
    width: 38px;
    padding-left: 0px;
    margin-left: 20px;
}

.align-check-and-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin-bottom: 0;
}

button:focus {
    outline: none;
}

/*.inner-circle {*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    border-radius: 50%;*/
/*    font-size: 40px;*/
/*    color: #337ab7;*/
/*    line-height: 300px;*/
/*    text-align: center;*/
/*    background: white;*/
/*    margin-left: 25px;*/
/*    position: relative;*/
/*}*/

/*.outer-circle {*/
/*    max-width: 350px;*/
/*    max-height: 350px;*/
/*    border-radius: 50%;*/
/*    background: #001d5b;*/
/*    background: linear-gradient(#1f9ce490 0%,  #7339ab90 100%);*/
/*    transition: 2s;*/
/*    -webkit-transition: 2s;*/
/*    margin-bottom: 40px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

#outer-circle-mobile {
     opacity: 0%;
     margin: 0px;
     margin-bottom: 20px;
 }

#outer-circle-mobile {
    opacity: 0%;
}

#items {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
}
.progress {
    margin-left: 80px;
}
body {
    font-family: 'Didact Gothic', sans-serif, black;
    /*background-color: #001d5b;*/
    background: linear-gradient(#1f9ce490 0%,  #7339ab90 100%);

}

.content{
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/bedtime.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    display: table;
    z-index: 1;
}

/*Header styling*/
.header {
    /* background: linear-gradient(#1f9ce490 0%,  #7339ab90 100%);*/
    height: 65px;
    color: white;
    opacity: 50%;
}

#editAndSave{
    margin-left: 340px;
    margin-bottom: 25px;

}

#editAndSave:hover{
    cursor: pointer;
}

.bedtime-hr {
     max-width: 350px;
     height: 1px;
     background-color: #e4e4e4;
     margin-right: 0px;
     margin-left: 0px;
 }

.editMe {
    margin-right: 85px;
    border: none;
    border-bottom: 2px solid #1f9ce4;
    -webkit-transition: 0.2s ;
    -moz-transition:  0.2s;
    -ms-transition:  0.2s;
    -o-transition:  0.2s;
    transition:  0.2s;
}

input {
    border: none;
    -webkit-transition: 0.2s ;
    -moz-transition:  0.2s;
    -ms-transition:  0.2s;
    -o-transition:  0.2s;
    transition:  0.2s;
}

input:focus{
    border: none;
    outline: none;
}

.delete{
    margin-right: 0px;
}

.settings {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/beach.jpg") no-repeat center center fixed;
}

.logging-background {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/notebook.jpg") no-repeat center center fixed;
}

.add:hover{
    cursor: pointer;
}

.add {
    margin-top: 20px;
    margin-left: 20px;
}

.hr-settings {
     max-width: 350px;
     margin-left: 0px;
     height: 1px;
     background-color: #e4e4e4;
     margin-bottom: 0px;
     margin-right: 0px;
 }

.hr-report {
    max-width: 350px;
    height: 1px;
    background-color: #e4e4e4;
    margin-bottom: 0px;
}

#extended {
    margin-top: 0px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.flex-row-nowrap {

    display: flex;
    flex-flow: row nowrap;
}

.width80 {
    width: 200px;
}

.reportClass{
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/graph.jpg") no-repeat center center fixed;
}

.logSleep {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/lake.jpg") no-repeat center center fixed;
}

.modules {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/zen.jpg") no-repeat center center fixed;
}

.tile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(#1f9ce4 0%,  #7339ab 100%);
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
    padding-top: 83px;
    padding-left: 43px;
    padding-right: 40px;
    color: white;
    display: inline-block;
    transition: all 0.4s ease-in-out;
}

.tile:hover {
    cursor: pointer;
    opacity: 70%;
}

.bm-burger-button {
    left: 20px !important;
    top: 20px !important;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

#circle {
    margin: 20px;
    width: 200px;
    height: 200px;
}

.data{
    min-width: 50%;
    float: left;
    margin-bottom: 20px;
}

.percentage {
    float:right;
    width: 50%;
    align: center;
    margin-bottom: 20px;
}
.smallTimeHeader{
    color: #625ad8;
    font-size: 30px;
}

.bedtime-checkbox {
    padding: 5px;
    padding-right: 20px;
}

#video {
    margin: auto;
    text-align: center;
    display: block;
}

.week{
    align-content: center;
    min-height: 300px;
}

.smallHeader{
    font-size: 25px;
    color: #337ab7;
}

.goalProg{
    width: 250px;
    align: center;
    float: left;
}

.day{
    align: center;
    height: 200px;
}

/*#routine-progress{*/
/*    height: 20px;*/
/*    width: 325px;*/
/*}*/

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    max-width: 400px;
    height: 375px;
}

.black {
    color: black;
}

.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#root {
    height: 100vh;
}

.mobilePage {
    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.mindfulnessMobile {
    padding: 15px;
    padding-top: 40px;
}

.flex-report{
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.width300 {
    max-width: 300px;
}

.editRoutine{
    width: 100%;
    padding-left: 5px;
    margin-right: 5px;
    border: 1px solid lightgrey;
}

.routinebtn:hover{
    cursor: pointer;
}

.task{
    width: 100%;
}

.alignTextRight {
    text-align: right;
    color: #337ab7;
}