/* Limit the width of the menu */
.list-group {
}

.itsBedtime {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
}

h1 {
    color: red;
}

.customCheckbox{
    background-color: white;
    border: 2px solid lightskyblue;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.customCheckbox:checked{
    background-color: lightskyblue;
}