/* Limit the width of the menu */
.itsBedtime {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.time{
    padding-top: 100px;
}

.inner {
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    background: white;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;
    padding-bottom: 40px;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
}

.blueHeader {
    color: #337ab7;
}

.checkbox {
    height: 38px;
    width: 38px;
    padding-left: 0px;
    margin-left: 20px;
}

.align-check-and-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin-bottom: 0;
}

button:focus {
    outline: none;
}

.inner-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    font-size: 40px;
    color: #337ab7;
    line-height: 300px;
    text-align: center;
    background: white;
    margin-left: 25px;
    position: relative;
}

.outer-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;

    background: #001d5b;
    background: linear-gradient(#1f9ce490 0%,  #7339ab90 100%);

    transition: 2s;
    -webkit-transition: 2s;
    margin-left: 25px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

#outer-circle {
    opacity: 0%;
}

body {
    font-family: 'Didact Gothic', sans-serif, black;
    /*background-color: #001d5b;*/
    background: linear-gradient(#1f9ce490 0%,  #7339ab90 100%);

}

.content {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/bedtime.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

/*Header styling*/
.header {
   /* background: linear-gradient(#1f9ce490 0%,  #7339ab90 100%);*/
    height: 65px;
    color: white;
    opacity: 50%;
}

#editAndSave{
    margin-left: 340px;
    margin-bottom: 25px;

}

#editAndSave:hover{
    cursor: pointer;
}

.bedtime-hr {
    width: 300px;
    height: 1px;
    background-color: #e4e4e4;
    margin-bottom: 30px;
}

.editMe {
    margin-right: 85px;
}

input {
    border: none;
    border-bottom: 2px solid #1f9ce4;
    -webkit-transition: 0.2s ;
    -moz-transition:  0.2s;
    -ms-transition:  0.2s;
    -o-transition:  0.2s;
    transition:  0.2s;
}

input:focus{
    border: none;
    outline: none;
    border-bottom: 3px solid #1f9ce4;
}

.settings {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/beach.jpg") no-repeat center center fixed;
}

.add:hover{
    cursor: pointer;
}

.add {
    margin-top: 20px;
    margin-left: 20px;
}

.hr-settings {
    width: 100%;
    margin-left: 0px;
    height: 1px;
    background-color: #e4e4e4;
    margin-bottom: 30px;
}

#extended {
    margin-top: 0px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.width80 {
    width: 200px;
}

.logSleep {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/lake.jpg") no-repeat center center fixed;
}

.modules {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/zen.jpg") no-repeat center center fixed;
}

.tile {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    background-color: #1f9ce4;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    margin-bottom: auto;
}

.tile:hover {
    cursor: pointer;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}