html::-webkit-scrollbar{
    width: 0;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
button{
    border: none;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}
h1, h2, h3 {
    color: white;
}
.container{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.dot{
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dot:hover{
    width: 250px;
    height: 250px;
}
.col-md-4{
    text-align: center;
}
.row{
    height: 100%;
    width: 100vw;
    background-size: cover;
    margin: 0;
}
.iconImages{
    opacity: 0.45;
    height: 80%;
    width: 80%;
    margin: 20px;
}
.icon{
    width: 200px;
    height: 200px;
}
.featureInfo{
    display: flex;
    flex-direction: column;
}
.featureTitle{
    margin: 30px;
}
#Heading{
    background: radial-gradient(circle at top left, #c8c8c890, #00183790),
                url("../resources/background_images/dawn.jpg") no-repeat center center fixed;
    height: 100%;
    width: 100vw;
    margin: 0;
}
#login{
    background: #f2bc0770;
    padding: 60px 8%;
    height: 40%;
    width:65%;
    position: absolute;
    left: 30%;
    top: 30%;
}
#loginbtn{
    position: absolute;
    bottom: 10%;
    right: 10%;
    background: #4a486f;
}
#title{
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
#joinbtn{
    background: #045a78;
}
#Features{
    background-color: #1896BD;
}
#CalSch{
    background: radial-gradient(circle at top left, #caab51 10%, transparent),
                url("../resources/background_images/calendar.jpg") no-repeat center center fixed;
    background-size: cover;
}
#Exercise{
    background: radial-gradient(circle at top right, #045a78 10%, transparent),
                url("../resources/background_images/gym.jpg") no-repeat center center fixed;
    background-size: cover;
}
#MindPerson{
    background: radial-gradient(circle at top left, #4a486f 10%, transparent),
                url("../resources/background_images/meditation.jpg") no-repeat center center fixed;
    background-size: cover;
}
#calIcon{
    background-color: #caab51;
}
.calIconImg{
    background: url("../resources/icons/calendar_icon.png") no-repeat center center;
    background-size: contain;
}
#exerIcon{
    background-color: #045a78;
}
.exerIconImg{
    background: url("../resources/icons/exercise_icon.png") no-repeat center center;
    background-size: contain;
}
#mindIcon{
    background-color: #4a486f;
}
.mindIconImg{
    background: url("../resources/icons/mind_icon.png") no-repeat center center;
    background-size: contain;
}