html::-webkit-scrollbar{
    width: 0;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
button{
    border: none;
    color: white;
}
.container{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.dot{
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dot:hover{
    width: 250px;
    height: 250px;
}
#Heading{
    background: radial-gradient(circle at top left, #c8c8c890, #00183790),
                url("../resources/background_images/dawn.jpg") no-repeat center center fixed;
    height: 100%;
    width: 100vw;
    background-size: cover;
    margin: 0;
}
#login{
    background: #f2bc0770;
    padding: 60px 8%;
    height: 40%;
    width:65%;
    position: absolute;
    left: 30%;
    top: 30%;
}
#loginbtn{
    position: absolute;
    bottom: 10%;
    right: 10%;
    background: #4a486f;
}
form{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}
#title{
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
#joinbtn{
    background: #045a78;
}
#Features{
    background-color: #1896BD;
    height: 100%;
    width: 100vw;
    margin: 0;
}
#CalSch{
    background: radial-gradient(circle at top left, #caab51 10%, transparent),
                url("../resources/background_images/calendar.jpg") no-repeat center center fixed;
    height: 100%;
    width: 100vw;
    background-size: cover;
    margin: 0;
}
#Exercise{
    background: radial-gradient(circle at top right, #045a78 10%, transparent),
                url("../resources/background_images/gym.jpg") no-repeat center center fixed;
    height: 100%;
    width: 100vw;
    background-size: cover;
    margin: 0;
}
#MindPerson{
    background: radial-gradient(circle at top left, #4a486f 10%, transparent),
                url("../resources/background_images/meditation.jpg") no-repeat center center fixed;
    height: 100%;
    width: 100vw;
    background-size: cover;
    margin: 0;
}