html::-webkit-scrollbar{
    width: 0;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
button{
    border: none;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}
h1, h2, h3 {
    color: white;
}
.container{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.dot{
    height: 250px;
    width: 250px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dot:hover{
    width: 300px;
    height: 300px;
}
.col-md-4{
    text-align: center;
}
.row{
    height: 100%;
    width: 100vw;
    background-size: cover;
    margin: 0;
}
.iconImages{
    opacity: 0.45;
    height: 80%;
    width: 80%;
    margin: 20px;
}
.icon{
    width: 250px;
    height: 250px;
}
.featureInfo{
    display: flex;
    flex-direction: column;
}
.featureTitle{
    margin: 30px;
}
#Heading{
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
                url("../resources/background_images/dawn.jpg") no-repeat center center fixed;
    height: 100%;
    width: 100vw;
    margin: 0;
}
#login{
    padding: 60px 8%;
    height: 40%;
    width:65%;
    position: absolute;
    left: 30%;
    top: 30%;
}
#loginbtn{
    background: #001837;
    margin-top: 20px;
}
#title{
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
#joinbtn{
    background: #001837;
}
#Features{
    background-color: #141629;
    height: 75vh;
}
#CalSch{
    background: radial-gradient(circle at top left, #1f9ce4 30%, transparent),
                url("../resources/background_images/calendar.jpg") no-repeat center center fixed;
    background-size: cover;
}
#Exercise{
    background: radial-gradient(circle at top right, #625ad8 30%, transparent),
                url("../resources/background_images/gym.jpg") no-repeat center center fixed;
    background-size: cover;
}
#MindPerson{
    background: radial-gradient(circle at top left, #7339ab 30%, transparent),
                url("../resources/background_images/meditation.jpg") no-repeat center center fixed;
    background-size: cover;
}
#calIcon{
    background-color: #1f9ce4;
}
.calIconImg{
    background: url("../resources/icons/calendar_icon.png") no-repeat center center;
    background-size: contain;
}
#exerIcon{
    background-color: #625ad8;
}
.exerIconImg{
    background: url("../resources/icons/exercise_icon.png") no-repeat center center;
    background-size: contain;
}
#mindIcon{
    background-color: #7339ab;
}
.mindIconImg{
    background: url("../resources/icons/mind_icon.png") no-repeat center center;
    background-size: contain;
}