html, body{
    height: 100%
}

.itsBedtime {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.time{
    padding-top: 40px;
    margin-top: 25%;
}

.new-time{
    padding-top: 40px;
    margin-top: 0px !important;
}

.sideform{
    float: right;
}

.inp2{
    background: #ffffff;
    border-radius: 15px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 25px;
    max-width: 170px;
}

.sleepInner{
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    width: 100%;
    background: black;
    padding: 25px 75px 40px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 100%;
}
.logsleepInner{
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 75px 40px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    height: 100%;
}

.blueHeader {
    color: #337ab7;
}

.sleepHeader {
    color: #337ab7;
    font-size: 75px;
    padding-bottom: 40px;
}

.newsleepHeader {
    color: #337ab7;
    font-size: 75px;
    padding-bottom: 10px;
}

.wakeHeader {
    color: white;
    font-size: 75px;
    padding-bottom: 40px;
}

.wakeHeaderTwo {
     color: white;
     font-size: 30px;
     padding-bottom: 10px;
 }

.wakeHeaderThree {
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
}

.checkbox {
    height: 38px;
    width: 38px;
    padding-left: 0px;
    margin-left: 20px;
}

.align-check-and-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin-bottom: 0;
}

button:focus {
    outline: none;
}

.inner-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    font-size: 40px;
    color: #337ab7;
    line-height: 300px;
    text-align: center;
    background: white;
    margin-left: 25px;
    position: relative;
}

.outer-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;

    background: #001d5b;
    background: linear-gradient(#1f9ce490 0%,  #7339ab90 100%);

    transition: 2s;
    -webkit-transition: 2s;
    margin-left: 25px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

#outer-circle {
    opacity: 0%;
}

body {
    font-family: 'Didact Gothic', sans-serif, black;
    /*background-color: #001d5b;*/
    background: linear-gradient(#1f9ce490 0%,  #7339ab90 100%);

}

/*.content {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/bedtime.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}*/

/*Header styling*/
.header {
    /* background: linear-gradient(#1f9ce490 0%,  #7339ab90 100%);*/
    height: 65px;
    color: white;
    opacity: 50%;
}

#editAndSave{
    margin-left: 340px;
    margin-bottom: 25px;

}

#editAndSave:hover{
    cursor: pointer;
}

.bedtime-hr {
    width: 300px;
    height: 1px;
    background-color: #e4e4e4;
    margin-bottom: 30px;
}

.editMe {
    margin-right: 85px;
}

.settings {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/beach.jpg") no-repeat center center fixed;
}

.add:hover{
    cursor: pointer;
}

.add {
    margin-top: 20px;
    margin-left: 20px;
}

#extended2{
    margin-bottom: 40px;
}

.flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.width80 {
    width: 200px;
}

.logSleep {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/milky-way.jpg") no-repeat center center fixed;
}

.wakeHeader, .sleepHeader {
    font-size: 45px;
}

.wakeHeaderTwo {
    font-size: 25px;
}

.modules {
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/zen.jpg") no-repeat center center fixed;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

