.personality{
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    linear-gradient(180deg, #ffffffcc 0%, #ffffffcc 100%),
    url("../resources/background_images/human.jpg") no-repeat center center fixed;
    background-size: cover;
}
.chronotype{
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/clock1.jpg") no-repeat center center fixed;
    background-size: cover;
}
.chronotype2{
    background: linear-gradient(180deg, #1f9ce490 0%, #625ad890 40%, #7339ab90 100%),
    url("../resources/background_images/clock2.jpg") no-repeat center center fixed;
    background-size: cover;
}
.chronotype2 .row{
    margin-left: 0px;
}

.test_btn{
    width: 100%;
    height: 100px;
    margin-top: 25px;
    color: white;
    text-shadow: 2px 2px 0px black;
    font-weight: bold;
    font-size: 17pt;
}
.chrono_img{
    background: url("../resources/img/alarm-clock.jpg") no-repeat center center;
    background-size: cover;
}
.person_img{
    background: url("../resources/img/personality3.jpg") no-repeat center center;
    background-size: cover;
}
.lmh_options{
    margin: 0 10px;
}
.options{
    border: 2px dotted #337ab7;
padding: 10px;
/*border-radius: 50px;*/
}
.centerButton {
    display: flex;
    justify-content: center;
}

label {
    display: inline;
}