html::-webkit-scrollbar{
    width: 0;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
button{
    border: none;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}
h1, h2, h3 {
    color: white;
}
.container{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.col-md-4{
    text-align: center;
}

.row{
    height: 100%;
    width: 100vw;
    background-size: cover;
    margin: 0;
}
#Register{
    margin-left: auto;
    margin-top: 30%;
    background-color: rgba(24,150,189,0.74);
    padding: 10pt;
    align-self: center;
    height: auto;
    Width: 50%;
}

#register-btn{
    margin-top: 10pt;
    bottom: 10%;
    right: 10%;
    background: #4a486f;
}
#learn-btn{
    background: #045a78;
}