/*
body css
 */
body{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Didact Gothic', sans-serif, black;
    background-color: #A0CFD3;
}

/*

 */
h1{
    font-family: 'Didact Gothic', sans-serif, white, bold;
    font-size: 36px;
}

/*
header 2 css
 */
h2{
    font-family: 'Didact Gothic', sans-serif, white, bold;
    font-size: 24px;
}

/*
header 3 css
 */
p{
    font-family: 'Didact Gothic', sans-serif, white, bold;
    font-size: 20px;
}

/*
css for header of pages
 */
.header{
    height: 50px;
    width: auto;
    padding: 100px;
    font-family: 'Didact Gothic', sans-serif, black;
    background-color: white;
}

/*
css for footer of pages
 */
.footer{
    height: 100px;
    width: auto;
    padding: 200px;
    font-family: 'Didact Gothic', sans-serif, black;
    background-color: #045A78;
}

/*
basic button css
 */
.button{
    height: 50px;
    width: 235px;
    border-radius: 50px;
    background-color: white;
    font-family: 'Didact Gothic', sans-serif, black;
}